<nav class="navbar navbar-default">
  <div class="container-fluid">
    {{navbar-header}}

    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav">
        {{#if isAuthenticated}}
        <li>{{#link-to "myqueeresources"}}Create or Update Your Resource{{/link-to}}</li>
        {{/if}}
        <li>{{#link-to "queeresources"}}View All Resources{{/link-to}}</li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{#if isAuthenticated}}
        <li>{{#link-to "change-password"}}Change Password{{/link-to}}</li>
        <li><a href="#" {{action "signOut"}}>Sign Out</a></li>
        {{else}}
        <li>{{#link-to "sign-up"}}Sign Up{{/link-to}}</li>
        <li>{{#link-to "sign-in"}}Sign In{{/link-to}}</li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>

<h1>QueeResources</h1>
<h3>Resources for the Queer community in Boston</h3>

{{#each flashMessages.queue as |flash|}}
  {{flash-message flash=flash}}
{{/each}}

{{#link-to 'queeresources'}} View Resources {{/link-to}}

{{#if isAuthenticated}}
<p>{{#link-to 'myqueeresources'}}Go to my resources{{/link-to}}</p>
{{/if}}

<div class="col-md-8 col-md-offset-2">
  {{outlet}}
</div>
