<form {{action 'updateQr' on='submit'}}>
  {{input placeholder='New Name' value=model.name}}
  {{input placeholder=model.description value=model.description}}
  {{input placeholder=model.location value=model.location}}
  {{input placeholder=model.website value=model.website}}
  {{input placeholder=model.orgtype value=model.orgtype}}
  {{input placeholder=model.popfocus value=model.popfocus}}
  <button placeholder='Update' type='submit'>Save</button>
</form>
