{{#link-to 'queeresources'}}View All Resources{{/link-to}}

<h2>{{model.name}}</h2>
<br>
<br>
<h4>About</h4>
<h5>{{model.description}}</h5>
<br>
<h4>Location</h4>
<h5>{{model.location}}</h5>
<br>
<h4>Website</h4>
<a>{{model.website}}</a>

<br>
{{create-comment}}
