{{#link-to 'queeresources'}}Go back to resources{{/link-to}}

<h4>{{model.name}}</h4>
<h4>{{model.description}}</h4>
<h4>{{model.location}}</h4>
<h4>{{model.website}}</h4>
<h4>{{model.orgtype}}</h4>
<h4>{{model.popfocus}}</h4>
