{{#link-to 'queeresources'}}View All Resources{{/link-to}}

<h2>{{model.name}}</h2>
<br>
<br>
<h4>About</h4>
<h5>{{model.description}}</h5>
<br>
<h4>Location</h4>
<h5>{{model.location}}</h5>
<br>
<h4>Website</h4>
<a href='{{model.website}}'>{{model.website}}</a>
<br>
<br>
<div class='comments'>
{{create-comment queeresource=model createComment='createComment'}}
</div>

<h4 class="comment-count">{{model.comments.length}}<span> comments</span></h4>
<br><br>
{{queeresource-comments queeresource=model comment=comment }}
