<h2>Resources</h2>

{{#link-to 'application'}}Go home{{/link-to}}

{{!-- {{queeresource-form createList='createList'}} --}}
<ul>
{{#each model as |queerresource|}}
  <li>{{#link-to 'queer-resource' queer-resource}}{{queerresource.name}}{{/link-to}}</li>
  {{!-- {{#if queerresource.isEmpty}}
    <button {{action 'deleteList' queerresource}}>Delete List</button>
    {{/if}} --}}
{{/each}}
</ul>

{{!-- <ul>
{{#each model as |employee|}}
  <li>{{employee.name}}</li>
{{/each}}
</ul> --}}


{{outlet}}
